*{
  padding:0;
  margin:0;
  font-family: sans-serif;
}


body{  
    font-family: sans-serif;  
    background-color: pink; 
    background-size: cover;

   

  }  
  .container {  
    position:absolute;
      padding: 10px;  
    background-color: lightblue;  
  transform:translate(-50%,-50%) ;
    top:50%;
    left:50%;

    width: 350px;
  }  
    
  input[type=text], input[type=password], textarea {  
    width: 60%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;  
    background: #f1f1f1;  
  }  
  input[type=text]:focus, input[type=password]:focus {  
    background-color: orange;  
    outline: none;  
  }  
   div {  
              padding: 10px 0;  
           }  
  hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }  
  .registerbtn {  
    background-color: #4CAF50;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
  }  
  .registerbtn:hover {  
    opacity: 1;  
  }  
  .col-1{
    float:left;
    width:8.33%;
}
.col-2{
    float:left;
    width:16.66%;
}
.col-3{
    float:left;
    width:25%;
}
.col-4{
    float:left;
    width:33.33%;
}
.col-5{
    float: left;
    width:  41.66%;
}
.col-6{
    float: left;
    width:  50%;
}
  .row:after{
    content: "";
    display: table;
    clear:both;
    margin-top: 10px;
    margin-bottom: 10px;
   }

  